/*
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:blue;
    line-height:60px;
    font-size:25px;
    color:white;
    text-align:center;
}
body #script{
    position:absolute;
    top:70px;
    color:red;
}*/
